body{
    width: 100%;
    height: 100%;
    margin: auto;
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}


h2{
    text-align: center;
    font-size: 30px;
    color: white;
    
}

h2:hover{
    color: black;
}

.map{
    overflow : hidden;
    
   
}

.mapImage{
    width: 50%;
    float: left;
}

.mapImage path{
    stroke: black;
    fill: white;
    stroke-width : 1px;
    transition : fill 0.3s;
}

.mapImage .is-active path{
    fill: black;
    stroke-width : 2px;
    stroke : white;
   
}

.mapList{
    float: right;
    width: 50%;
    justify-content: center;
}

.mapList a{
    color: black;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Lato';
}

.mapList a.is-active {
    color: white;  
    border: transparent;
    padding-bottom: 8px;
    padding-top: 6px;
    padding-left: 100px;
    padding-right: 10px;
    
    
}

li{
    list-style: none;
    margin-bottom: 10px;
}

ul{
    padding-left: 100px;
    padding-right: 200px;
    padding-top: 100px;
    font-size: 25px;
    
}

/*.mapList a is-active{
    color: chartreuse;
    font-weight: bold;
    text-decoration: underline;
}/*

